<!-- Modal -->
<div class="modal fade" id="bookingCreateModal" tabindex="-1" role="dialog" aria-labelledby="bookingCreateModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reservar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="bookingCreateFormId" action="{% url 'booking-create' %}" method="post">{% csrf_token %}
                    <div class="row">
                        <input type="text" class="form-control" id="room_modal_id" name="room" style="display: none;">
                        <div class="col">
                            <label for="from_date" class="col-form-label">Desde:</label>
                            <input type="text" class="form-control" id="from_date_modal" name="from_date" readonly>
                        </div>
                        <div class="col">
                            <label for="until_date" class="col-form-label">Hasta:</label>
                            <input type="text" class="form-control" id="until_date_modal" name="until_date" readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="name" class="col-form-label">Nombre:</label>
                            <input type="text" class="form-control" id="name_modal" name="name" value="{{ user.get_username }}" disabled>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="phone" class="col-form-label">Teléfono:</label>
                            <input type="number" class="form-control" id="phone_modal" name="phone">
                        </div>
                        <div class="col">
                            <label for="card_number" class="col-form-label">Número de tarjeta:</label>
                            <input type="number" class="form-control" id="card_number_modal" name="card_number">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="address" class="col-form-label">Dirección:</label>
                            <input type="text" class="form-control" id="address_modal" name="address">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="observations" class="col-form-label">Observaciones adicionales:</label>
                            <textarea class="form-control" id="observations_modal" rows="3" name="observations"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <hr>
                        <div class="row">
                            <div class="col-sm-4">
                                <label for="total" class="col-form-label"><b>Total:</b><label id="total_label_id"></label>€</label>
                            </div>
                            <div  class="text-right col-sm-8">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                                <button type="submit" class="btn btn-primary">Reservar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>