{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
	<div class="container">
		<div class="row border border-info rounded" style="">
			<div class="col-sm-1"></div>
			<div class="col-sm-4">
				<form action="{% url 'room-list' %}" method="get" class="form-horizontal" role="form">
					<div class="date form-group row {% if form.from_date.errors %}has-error{% endif %}">
					    <label for="{{ form.from_date.id_for_label }}" class="col-sm-2 col-form-label"><b>Desde:</b></label>
					    <div class="col-sm-10">
					        {% if form.from_date.errors %}
					            <span class='text-danger'>{{ form.from_date.errors|join:'<br />' }}</span>
					        {% endif %}
					        <input name="from_date"  data-format="dd/MM/yyyy" type="date" class="form-control" id="id_from_date" value="{{form.initial.from_date|date:'Y-m-d'}}">
					    </div>
					</div>
					<div class="form-group row {% if form.until_date.errors %}has-error{% endif %}">
					    <label for="{{ form.until_date.id_for_label }}" class="col-sm-2 col-form-label"><b>Hasta:</b></label>
					    <div class="col-sm-10">
					        {% if form.until_date.errors %}
					            <span class='text-danger'>{{ form.until_date.errors|join:'<br />' }}</span>
					        {% endif %}
					        <input name="until_date"  data-format="dd/MM/yyyy" type="date" class="form-control" id="id_until_date" value="{{form.initial.until_date|date:'Y-m-d'}}">
					    </div>
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-md-8">
								{{ form.smoker }} {{form.smoker.label}}
							</div>
							<div class="col-md-4">
								<button type="submit" class="btn btn-success">Buscar</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-sm-1"></div>
		</div>
		<div class="row">
			{% for room in rooms %}
				<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item" id="room-{{room.room_number}}-id">
					<div class="card h-100">
						{% if room.image %}
							<img class="card-img-top" src="{{room.image.url}}" alt="está" >
						{% else %}
							<img class="card-img-top" src="{% static "base/not_image.jpeg" %}" alt="no está">
						{% endif %}
						<div class="card-body">
							<h5 class="card-title">
								{{room.pk}}-{{ room.get_room_type_label }}
							</h5>
							<p class="card-text">
								<b>Precio: </b>{{room.price|floatformat:2}}€ por noche
							</p>
							<!-- <div class="container"> -->
								<div class="row">
									{% if room.wifi == True %}
									<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
										<div class="card h-100">
											<img class="card-img-top" src="{% static "base/wifi_icon.png" %}" alt="wifi" data-toggle="tooltip" data-placement="top" title="Wifi">
										</div>
									</div>
									{% endif %}
									{% if room.air_conditioner == True %}
									<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
										<div class="card h-100">
											<img class="card-img-top" src="{% static "base/Air_conditioning_icon.png" %}" alt="Aire acondicionado" data-toggle="tooltip" data-placement="top" title="Aire acondicionado">
										</div>
									</div>
									{% endif %}
									{% if room.fridge == True %}
									<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
										<div class="card h-100">
											<img class="card-img-top" src="{% static "base/fridge_icon.png" %}" alt="Nevera" data-toggle="tooltip" data-placement="top" title="Nevera">
										</div>
									</div>
									{% endif %}	
									{% if room.safe_box == True %}
									<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
										<div class="card h-100">
											<img class="card-img-top" src="{% static "base/safe_box_icon.png" %}" alt="Caja fuerte" data-toggle="tooltip" data-placement="top" title="Caja fuerte">
										</div>
									</div>
									{% endif %}
									{% if room.smoker == True %}
									<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
										<div class="card h-100">
											<img class="card-img-top" src="{% static "base/smoker_icon.png" %}" alt="Fumadores" data-toggle="tooltip" data-placement="top" title="Habitación para Fumadores">
										</div>
									</div>
									{% endif %}	
									{% if room.viewer == True %}
									<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
										<div class="card h-100">
											<img class="card-img-top" src="{% static "base/views_icon.png" %}" alt="Balcón" data-toggle="tooltip" data-placement="top" title="Balcón/Terraza">
										</div>
									</div>
									{% endif %}	
								</div>
							<!-- </div> -->
						</div>
						<div class="card-footer">
							<b>Mejor precio</b>
							{% if user.is_authenticated %}
					    		<button class="btn btn-primary" style="position:absolute;right:5px;bottom:5px;" onclick="return bookingButtonClick({{room.room_number}},{{room.price}})">Reservar</button>
					    	{% else %}
					    		<td><a href="{% url 'login' %}" class="btn btn-primary" style="position:absolute;right:5px;bottom:5px;">Reservar</a></td>
					    	{% endif %}
					    </div>
					</div>
				</div>
			{% empty %}
	    		<li>No se escontraron habitaciones disponibles.</li>
			{% endfor %}
		</div>
	</div>

	{% include "./booking_create.html" %}
{% endblock %}

room_number
room_type
price