{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    	<link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    	<title>{% block title%}{% endblock%}</title>
	</head>
	<body>
		<div class="container-fluid" style="background-image: url('{% static "base/header10.png" %}'); background-size: cover; height: 150px;">
			<div class="row">
				{% include "header.html" %}
		    </div>
      	</div>

		{% block content %}
      	{% endblock %}

		<footer class="py-1" style="background-color: #fff;">
			<div class="container">
				<hr>
				{% include "footer.html" %}
			</div>
		</footer>
		{% block scripts %}
			<!-- Optional JavaScript -->
		    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
		    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
		    <script type="text/javascript" src="{% static "js/index.js" %}"></script>
		{% endblock %}
	</body>
</html>