<div class="container" >
	<div class="row text-right" style="text-align: right;">
		<div class="col-sm-12" style="text-align: right;">
			{% if user.is_authenticated %}
			    <p>Bienvenido, {{ user.get_username }}. <a href="{% url 'logout' %}" class="btn btn-primary">Salir</a></p>
			{% else %}
			    <table style="width: auto; margin-right: 0px; margin-left: auto;">
			    	<tr>
			    		<td><a href="{% url 'login' %}" class="btn btn-primary">Entrar</a></td>
			    		<td><a href="{% url 'signup' %}" class="btn btn-success">Registrarse</a></td>
			    	</tr>
			    </table>
			{% endif %}
		</div>
		<a href="{% url 'home' %}"><label class="h1">Chapp Hotels</label></a>
	</div>
	<div class="row text-right">
		<div class="col-sm-2">
		</div>
		<div class="col-sm-10">
			<td><a href="{% url 'home' %}" class="btn btn-success">Habitaciones</a></td>
			{% if user.is_authenticated %}
				<td><a href="{% url 'booking-list' %}" class="btn btn-primary">Mis reservas</a></td>
			{% endif %}
		</div>
		<div class="col-sm-2">
		</div>
	</div>
</div>