<div class="form-group {% if field.errors %}has-error{% endif %}">
    <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
    <div>
        {% if field.errors %}
            <span class='text-danger'>{{ field.errors|join:'<br />' }}</span>
        {% endif %}
        {{ field }}
        
    </div>
</div>