{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Inicar sesión{% endblock %} 
{% block nobreadcrumb %}{% endblock %}
{% block content %}
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
        </div>
        <div class="col-sm-4">
            {% if form.errors %}
                <div class="alert alert-danger">
                    <p><strong>Ups!</strong> Datos de inicio de sesión incorrectos.</p>
                </div>
            {% endif %}
            <form action="{% url 'login' %}" method="post" class="form-horizontal" role="form">{% csrf_token %}
                
                <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                    <label for="{{ form.username.id_for_label }}" class="control-label">Nombre de usuario</label>
                    <div>
                        {% if form.username.errors %}
                            <span class='text-danger'>{{ form.username.errors|join:'<br />' }}</span>
                        {% endif %}
                        {{ form.username|add_class:"form-control" }}
                        
                    </div>
                </div>

                <div class="form-group {% if form.password.errors %}has-error{% endif %}">
                    <label for="{{ form.password.id_for_label }}" class="control-label">Contraseña</label>
                    <div>
                        {% if form.password.errors %}
                            <span class='text-danger'>{{ form.password.errors|join:'<br />' }}</span>
                        {% endif %}
                        {{ form.password|add_class:"form-control" }}
                        
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-">
                      <button type="submit" class="btn btn-primary">Entrar</button>&nbsp;
                      <a href="{% url 'signup' %}" class="btn btn-success">Registrarse</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
{% endblock %}