{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Registrarse{% endblock %} 
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        <p>Por favor corrija los errores marcados.</p>
                    </div>
                {% endif %}
                <form method="post" class="form-horizontal" role="form">{% csrf_token %}
                    <div class="form-group {% if form.username.errors %}has-error{% endif %}">
                        <label for="{{ form.username.id_for_label }}" class="control-label">Nombre de usuario</label>
                        <div>
                            {% if form.username.errors %}
                                <span class='text-danger'>{{ form.username.errors|join:'<br />' }}</span>
                            {% endif %}
                            {{ form.username|add_class:"form-control" }}
                            
                        </div>
                    </div>
                    <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                        <label for="{{ form.email.id_for_label }}" class="control-label">{{ form.email.label }}</label>
                        <div>
                            {% if form.email.errors %}
                                <span class='text-danger'>{{ form.email.errors|join:'<br />' }}</span>
                            {% endif %}
                            {{ form.email|add_class:"form-control" }}
                            
                        </div>
                    </div>
                    <div class="form-group {% if form.password1.errors %}has-error{% endif %}">
                        <label for="{{ form.password1.id_for_label }}" class="control-label">Contraseña</label>
                        <div>
                            {% if form.password1.errors %}
                                <span class='text-danger'>{{ form.password1.errors|join:'<br />' }}</span>
                            {% endif %}
                            {{ form.password1|add_class:"form-control" }}
                            
                        </div>
                    </div>
                    <div class="form-group {% if form.password2.errors %}has-error{% endif %}">
                        <label for="{{ form.password2.id_for_label }}" class="control-label">Repita contraseña</label>
                        <div>
                            {% if form.password2.errors %}
                                <span class='text-danger'>{{ form.password2.errors|join:'<br />' }}</span>
                            {% endif %}
                            {{ form.password2|add_class:"form-control" }}
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Registrarse</button>&nbsp;
                        <a href="{% url 'home' %}" class="btn btn-danger">Cancelar</a>
                    </div>
                </form>
            </div>
            <div class="col-sm-4">
            </div>
        </div>
    </div>
{% endblock %}