{% load static %}
<div class="modal fade" id="bookingDetailModal" tabindex="-1" role="dialog" aria-labelledby="bookingDetailModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Reserva {{booking.booking_number}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            {% if booking.room.image %}
                                <img class="card-img-top" src="{{booking.room.image.url}}" alt="está" >
                            {% else %}
                                <img class="card-img-top" src="{% static "base/not_image.jpeg" %}" alt="no está">
                            {% endif %}
                        </div>
                        <div class="col-sm-7 text-left">
                            <h3>{{ booking.room.get_room_type_label }}</h3>
                            <b>Cód. Reserva:</b> {{booking.booking_number}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <b>Entrada:</b> {{booking.from_date|date}}
                    </div>
                    <div class="col">
                        <b>Salida:</b> {{booking.until_date|date}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4><b>Usuario:</b> {{booking.user.username|title}}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <b>Télefono:</b> {{booking.phone}}
                    </div>
                    <div class="col-sm-7">
                        <b>Dirección:</b> {{booking.address}}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4><b>Precio:</b> {{booking.price|floatformat:2}}€</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <b>Tarjeta de pago:</b> {{booking.card_number}}
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col">
                        <h5>Datos de contacto de ChappHotels</h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <b>Télefono:</b> 664664664
                    </div>
                    <div class="col">
                        <b>Dirección:</b> Calle del Hotel
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <b>Email:</b> chapphotels@correo.com
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div  class="text-right col-sm-15">
                        <a href="{% url 'booking-detail-export' booking.pk %}" class="btn btn-primary">Exportar</a>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>