{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}

{% block content %}
	<div class="container">
		<div class="row" style="">
			<label class="h4">Mis reservas</label>
		</div>
		<div class="row">
			{% for booking in bookings %}
				<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item" id="booking-{{booking.booking_number}}-id">
					<div class="card h-100">
						{% if booking.room.image %}
							<img class="card-img-top" src="{{booking.room.image.url}}" alt="está" >
						{% else %}
							<img class="card-img-top" src="{% static "base/not_image.jpeg" %}" alt="no está">
						{% endif %}
						<div class="card-body">
							<h5 class="card-title">
								<p>Tipo: <i>{{ booking.room.get_room_type_label }}</i></p>
								<p>Número habitación: <i>{{ booking.room.pk }}</i></p>
							</h5>
							<p class="card-text">
								<b>Número de reserva: </b>{{booking.booking_number}}
							</p>
							<p class="card-text">
								<b>Precio: </b>{{booking.price|floatformat:2}}€
							</p>
							<p class="card-text">
								<b>Desde: </b>{{booking.from_date|date}}
							</p>
							<p class="card-text">
								<b>Hasta: </b>{{booking.until_date|date}}
							</p>
							<label style="display: None;" id="bookingDetailUrl_{{booking.pk}}">{% url 'booking-detail' booking.pk %}</label>
						</div>
						<div class="card-footer">
					    	<div class="row">
	                            <div  class="text-right col-sm-10">
	                            	<button class="btn btn-primary" onclick="return bookingDetailButtonClick({{booking.pk}})">Ver</button>
	                                <a href="{% url 'booking-delete' booking.pk %}" class="btn btn-danger">Eliminar</a>
	                            </div>
	                        </div>
					    </div>
					</div>
				</div>
			{% empty %}
	    		<li>No se escontraron reservas.</li>
			{% endfor %}
		</div>
		<div id="bookingDetailDiv">
			
		</div>
	</div>
{% endblock %}